
html, body {
    min-height: 100%;
}

body {
    font-family: raleway, sans-serif;
    background-color: #707070;
    height: 100vh;
}

span {
    background-color: rgba(255, 255, 255, 0.60);
    color: red;
    text-transform: uppercase;
}

.text-danger {
    text-align: center;
    color: red;

}

    .text-danger li {
        text-align: center;
        color: red;
        background-color: rgba(255, 255, 255, 0.60);
    }

.color-white {
    background-color: #fff;
}

.color-whitetrans {
    background-color: rgba(255, 255, 255, 0.60);
}

.backing {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(ProntoBackground.jpg) no-repeat;
    background-size: cover;
    height: 90%;
    width: 100%;
    position: fixed;
    z-index: -1;
}

.containertop {
    --heightA: 10%;
    display: flex;
    height: var(--heightA);
    width: 100%;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.60);
    padding: 5px 10px 5px 10px;
    align-items: center;
    justify-content: space-between;
}

.color-white {
    background-color: #fff;
}

.color-whitetrans {
    background-color: rgba(255, 255, 255, 0.60);
}

input {
    cursor: inherit;
}

a {
    color: #000;
    text-decoration: none;
}

i {
    color: dodgerblue;
    font-size: 20px;
    inline-size: 20px;
    padding: 0 8px 0 0;
}

ul {
    list-style: none;
    color: black;
    display: inline;
}

li {
    position: relative;
    display: inline;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}

    li:last-child::after {
        content: "";
    }    

    li::after {
        content: "|";
        padding: 5px;
    }

dl {
    display: flex;
    width: 45%;
    height: 45px;
    margin: 0;
    /*color: #838383;*/
    font-size: 15px;
    /*background: #f3f3f3;*/
}

    dl dt {
        flex: 1;
        padding: 0;
        font-size: 12px;
        margin: 0px auto;
        text-align: left;
    }

    dl dd {
        flex: 1;
        width: 170px;
        vertical-align: middle;
        text-align: right;
        position: relative;
        color: white;
    }

.partelementdlfix {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
    align-content: center;
    justify-content: center;
    padding-bottom: 10px;
}

div {
}


.navright li:nth-last-child(-n+2)::after {
    content: "";
}

.mainbody {
    margin: 0;
    padding: 0;
}

.container {
    height: 90%;
    display: flex;
    flex-direction: column;
    padding: 100px 0 0 0;
}

footer {
    margin-top: auto;
    color: #fff;
}

    footer p {
        text-align: center;
    }

.warningbanner {
    text-align: center;
    padding: 5px 0;
    color:white;
    background-color: red;
}

.logobox {
    height: 100%;
    content: url(/Content/Pronto-Logo-Black.png);
}

.logoimage {
    width: 100%;
}

.navright {
    display: flex;
    flex-direction: row;
}


.menuarea {
}

.navitems {
}


.loginarea {
    /*justify-self: flex-end;*/
    /*background-color: blue;*/
}

/*GENERAL STYLING*/
h2 {
    color: white;
    display: inline-block;
    margin: 0;
}

h3 {
    color: white;
    display: inline-block;
    margin: 5px 0 15px 0;
}

.table {
    color: lightgrey;
    width: 100%;
}

.tablereport {
    color: lightgrey;
    width: 100%;
    font-size: 14px;
}

td {
    padding-right: 15px;
    padding-top: 5px;
}

    td:last-child {
        padding-right: 0;
    }

th {
    text-align: left;
    color: white
}

input[type="submit"] {
    width: 40%;
    height: 40px;
    background: dodgerblue;
    border-radius: 6px;
    border-color: transparent;
    color: #000;
    font-family: raleway, sans-serif;
    text-transform: uppercase;
    text-align: center;
}


.linkbutton {
    display: flex;
    width: 40%;
    height: 40px;
    background: dodgerblue;
    border-radius: 6px;
    border-color: transparent;
    color: #000;
    font-family: raleway, sans-serif;
    text-transform: uppercase;
    min-width: 70px;
}

    .linkbutton a {
        align-self: center;
        width: 100%;
        text-align: center;
    }



.button-grouplogin {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px auto;
}

.titlediv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0 10px 0;
}

.control-label {
    font-family: raleway, sans-serif;
    text-transform: uppercase;
    width: 30%;
    height: 20px;
    margin: 10px auto;
    padding: 0 0 0 9%;
}

.form-control {
    width: 30%;
    height: 20px;
    background: #e0dede;
    justify-content: center;
    display: flex;
    margin: 10px auto;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.form-controlDDL {
    width: 83%;
    height: 38px;
    background: #e0dede;
    justify-content: center;
    display: flex;
    margin: 10px auto;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.form-horizontal1 {
    display: flex;
    flex-wrap: wrap;
}

.form--el1 {
    width: 50%
}

.form--el2 {
    width: 50%;
}

.form--el1 .form-control {
    width: 80%;
    height: 20px;
    background: #e0dede;
    justify-content: center;
    display: flex;
    margin: 10px auto;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.form--el2 .form-control {
    width: 80%;
    height: 20px;
    background: #e0dede;
    justify-content: center;
    display: flex;
    margin: 10px auto;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.form-horizontal1 .button-group {
    width: 90%;
    height: 20px;
    justify-content: right;
    display: flex;
    margin: 10px auto;
    padding: 0 0 30px 20px;
}

    .form-horizontal1 .button-group input[type="submit"] {
        width: 15%;
        height: 40px;
        background: dodgerblue;
        border-radius: 6px;
        border-color: transparent;
        color: #000;
        font-family: raleway, sans-serif;
        text-transform: uppercase;
        text-align: center;
    }

.button-group {
    width: 30%;
    height: 20px;
    justify-content: right;
    display: flex;
    margin: 10px auto;
    padding: 0 0 30px 20px;
}

/*ORGANIZERS LAYOUT*/

.orgcontainer {
    width: 80%;
    padding: 0 10% 0 10%;
}

    .orgcontainer p {
        color: lightgrey;
    }

    .orgcontainer a {
        color: lightgrey;
    }

.linkbuttonlogin {
    display: flex;
    width: 40%;
    height: 40px;
    background: #42b72a;
    border-radius: 6px;
    border-color: transparent;
    color: #000;
    font-family: raleway, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
}

    .linkbuttonlogin a {
        align-self: center;
        width: 100%;
        text-align: center;
        color: #000;
    }

/*RACE EVENT LAYOUTS*/

.raceflex {
    display: flex;
    gap: 2%;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 0 0 0;
}

.raceflexitem {
    border: solid;
    border-color: #FFF;
    background-color: rgba(255, 255, 255, 0.60);
    border-radius: 20px;
    box-shadow: 5px 5px 2px #aaaaaa;
    width: 30%;
    height: 30%;
    min-width: 330px;
    margin-bottom: 20px;
}

.eventimg {
    width: 100%;
    height: 220px;
    border-radius: 16px 16px 0 0;
}

.eventselecter {
    display: flex;
    justify-items: left;
    padding: 5px 0 0 10px;
    margin: 0;
    flex-direction: column;
}


    .eventselecter li {
        /*position: relative;*/
        display: inline-block;
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 1px;
        cursor: pointer;
        padding-bottom: 10px;
        color: #FFF;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

        .eventselecter li:last-child::after {
            content: "";
        }

        .eventselecter li::after {
            content: "";
            padding: 5px;
        }

        .eventselecter li:first-child {
            width: 100%;
            font-size: 18px;
            color: #000;
            text-align: center;
            padding-bottom: 15px;
        }

        .eventselecter li:last-child {
            padding-top: 12px;
        }

.raceflexitem .button-group {
    width: 80%;
}


/*CHECKBOXES*/

.toggle-group {
    display: flex;
    flex-direction: column;
    padding: 20px 0 0 0;
    margin: 0;
}

.toggle-item {
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 20px;
    padding: 0 0 20px 9%;
}

.toggle-groupa {
    display: flex;
    flex-direction: column;
    padding: 0 0 0 0;
    margin: 0;
}

.toggle-itema {
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 20px;
    padding: 0 0 0 9%;
}

.toggle-label {
    width: 80%;
    text-transform: uppercase;
    color: #fff;
}

input[type="checkbox"] {
    font-size: 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 35px;
    height: 20px;
    background: #ddd;
    border-radius: 3em;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

    input[type="checkbox"]:checked {
        background: #0ebeff;
    }

    input[type="checkbox"]:after {
        position: absolute;
        content: "";
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: #fff;
        -webkit-box-shadow: 0 0 .25em rgba(0,0,0,.3);
        box-shadow: 0 0 .25em rgba(0,0,0,.3);
        -webkit-transform: scale(.7);
        transform: scale(.7);
        left: 0;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
    }

    input[type="checkbox"]:checked:after {
        left: calc(100% - 20px);
    }


/*
    EDIT LAYOUT
    */

.control-label .col-md-2 {
    color: #fff;
}

.control-label {
    color: #fff;
}

/*EVEN DETAILS*/

.EventDetail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

    .EventDetail .form--el1 {
        width: 60%;
    }

    .EventDetail .form--el2 {
        width: 35%;
    }

/* RACE CONTROL*/

.RaceControlBanner {
    width: 100%;
    padding: 10px 0 10px 0;
    background: dodgerblue;
    border-radius: 6px;
    border-color: transparent;
    color: #000;
    font-family: raleway, sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 15px 0;
}

    .RaceControlBanner p {
        margin: 0;
        font-size: 20px;
    }

.EntryLink {
    width: 50%;
    align-self: flex-end;
    margin-top: 10px;
}

    .EntryLink a {
        color: #000;
    }

.Small p {
    font-size: 16px;
}

.RaceControlPanel {
    display: flex;
    flex-direction: column;
}

.RC--1 {
    display: flex;
    justify-content: space-between;
}

    .RC--1 ul {
        padding: 0;
    }

    .RC--1 p:first-child {
        color: white;
    }

    .RC--1 p {
        margin: 0;
        padding: 0 0 10px 0;
        text-transform: uppercase;
    }

/* PARTICIPANT STYLING*/

.participantcontainer {
    display: flex;
}

.participantleft {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.participantright {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.partelement {
    width: 100%;
    text-align: center;
    align-content: center;
    justify-content: center;
    padding-bottom: 10px;
}

    .partelement .labelfix {
        width: 45%;
        display: flex;
        padding: 0;
        font-size: 12px;
        margin: 0px auto;
    }



    .partelement .checkbox {
        width: 45%;
        display: flex;
        padding: 0;
        font-size: 12px;
        margin: 0px auto;
    }

    .partelement .form-controlDDL {
        width: 47%;
        height: 38px;
        background: #e0dede;
        justify-content: center;
        display: flex;
        margin: 10px auto;
        padding: 10px;
        border: none;
        outline: none;
        border-radius: 5px;
    }


    .button-group .checkbox {
        display: flex;
        width: 80%;
        justify-content: space-between;
    }

    .checkbox .toggle-checkbox {
        width: 60px;
    }

    .checkbox {
        color: lightgrey;
    }
   

.participantleft p {
    text-align: center;
    font-size: 20px;
}


.partelement .item {
    width: 45%;
    height: 20px;
    background: #e0dede;
    justify-content: center;
    display: flex;
    margin: 10px auto;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}

/* SEARCH STYLING*/

.DropdownSearches {
    display: flex;
}

    .DropdownSearches .item {
        display: flex;
        flex-direction: column;
        flex: 1;
        width: 100%;
        text-align: center;
        align-content: center;
        justify-content: center;
    }

    .DropdownSearches input[type="submit"] {
        margin: 0 0 0 40%;
    }


    .DropdownSearches .form-control {
        width: 83%;
    }

/* Cart Payment Button*/
.button-cart {
    width: 100%;
    height: 20px;
    justify-content: right;
    display: flex;
    margin: 0;
    padding: 0 0 30px 20px;
}

.cart {
    width: 20%;
    margin: 10px 2% 0 0;
}

.spinner {
    right: -50px;
}

.menuarea {
    display: flex;
}

.navright input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}

.sidebarMenuInnerDesktop {
    display: inline;
}

.sidebarMenuInnerMobile {
    display: none;
}

/* DASHBOARD STYLING*/

.dashboardcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2%;
    justify-content: center;
}

.reportitem {
    width: 45%;
    min-width: 330px;
    margin-bottom: 20px;
    padding: 5px;


    border: solid;
    border-color: #FFF;
    /*background-color: rgba(255, 255, 255, 0.60);*/
    border-radius: 20px;
    box-shadow: 5px 5px 2px #aaaaaa;
}


.addonoptionlist {
    display: flex;
    flex-wrap: wrap;
    max-width: 300px;
    text-align: center;
    justify-content: center;
    padding: 10px;
    margin: 0 0 10px 0;
    /*width: 40%;*/
    height: auto;
    background: dodgerblue;
    border-radius: 6px;
    border-color: transparent;
    color: #000;
    font-family: raleway, sans-serif;
}

/*css for mobile phones*/
@media screen and (max-width: 1030px) {
    body {
        max-width: 100%;
    }

    .table {
        color: lightgrey;
        max-width: 100%;
        font-size: 10px;
    }

    .tablereport {
        color: lightgrey;
        max-width: 100%;
        font-size: 10px;
    }

    input[type="submit"] {
        width: 80%;
    }

    .col-md-8 .button-group {
        margin: 10px 20px 0 55%;
    }

    .container {
        max-width: 100%;
    }

    .orgcontainer {
        max-width: 100%;
    }

    .mainbody {
        max-width: 100%;
    }

    .titlediv {
        flex-direction: column;
    }

    .form-control {
        width: 70%;
    }

    .orgcontainer {
        width: 100%;
        padding: 0 0 0 10px;
    }

    .EventDetail {
        flex-direction: column;
        width: 100%;
    }

        .EventDetail .form--el1 {
            order: 2;
            width: 100%;
            flex: 1;
        }

            .EventDetail .form--el1 img {
                max-width: 100%;
            }


        .EventDetail .form--el2 {
            order: 1;
            width: 100%;
            flex: 1;
        }



    /* SideBar Menu For Mobile*/

    #sidebarMenu {
        height: 100%;
        position: fixed;
        right: 0;
        width: 250px;
        margin-top: 13%;
        /*    padding: 5px 10px 5px 10px;*/
        transform: translateX(250px);
        transition: transform 250ms ease-in-out;
        background: rgba(255, 255, 255, 0.90);
    }

    .sidebarMenuInner {
        padding: 0;
        border-top: 1px solid rgba(255, 255, 255, 0.10);
        display: flex;
        flex-direction: column;
    }

        .sidebarMenuInner ul {
            width: 100%;
        }

        .sidebarMenuInner li {
            text-align: center;
            list-style: none;
            /*color: #fff;*/
            text-transform: uppercase;
            font-weight: bold;
            padding: 20px;
            cursor: pointer;
            border-bottom: 1px solid rgba(255, 255, 255, 0.10);
        }

            .sidebarMenuInner li span {
                display: block;
                /*font-size: 14px;
                color: rgba(255, 255, 255, 0.50);*/
            }

            .sidebarMenuInner li a {
                /*color: #000;*/
                text-transform: uppercase;
                font-weight: bold;
                cursor: pointer;
                text-decoration: none;
            }

            .sidebarMenuInner li::after {
                content: "";
            }

    /*SIDEBAR HAMBURGER*/


    .navright input[type="checkbox"]:checked ~ #sidebarMenu {
        transform: translateX(0);
    }

    .navright input[type=checkbox] {
        transition: all 0.3s;
        box-sizing: border-box;
        display: none;
    }

    .sidebarIconToggle {
        transition: all 0.3s;
        box-sizing: border-box;
        cursor: pointer;
        position: absolute;
        z-index: 99;
        height: 100%;
        width: 100%;
        top: 30px;
        right: 35px;
        height: 22px;
        width: 22px;
        display: inline;
    }

    .spinner {
        transition: all 0.3s;
        box-sizing: border-box;
        position: absolute;
        height: 3px;
        width: 100%;
        background-color: dodgerblue;
        right: 0px;
    }

    .horizontal {
        transition: all 0.3s;
        box-sizing: border-box;
        position: relative;
        float: left;
        margin-top: 3px;
    }

    .diagonal.part-1 {
        position: relative;
        transition: all 0.3s;
        box-sizing: border-box;
        float: left;
    }

    .diagonal.part-2 {
        transition: all 0.3s;
        box-sizing: border-box;
        position: relative;
        float: left;
        margin-top: 3px;
    }

    .navright input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
        transition: all 0.3s;
        box-sizing: border-box;
        opacity: 0;
    }

    .navright input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
        transition: all 0.3s;
        box-sizing: border-box;
        transform: rotate(135deg);
        margin-top: 8px;
    }

    .navright input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
        transition: all 0.3s;
        box-sizing: border-box;
        transform: rotate(-135deg);
        margin-top: -9px;
    }

    .sidebarMenuInnerDesktop {
        display: none;
    }

    .sidebarMenuInnerMobile {
        display: inline;
    }

    .menuarea {
        display: inline;
    }

    .linkbuttonlogin {
        display: flex;
        width: 40%;
        height: 40px;
        background: #42b72a;
        border-radius: 6px;
        border-color: transparent;
        color: #000;
        font-family: raleway, sans-serif;
        text-transform: uppercase;
        min-width: 80px;
    }

        .linkbuttonlogin a {
            align-self: center;
            width: 100%;
            text-align: center;
            color: #000;
            font-size: small;
        }

    .button-grouplogin {
        width: 60%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 10px auto;
        font-size: small;
    }

        .button-grouplogin input[type="submit"] {
            width: 30%;
            min-width: 60px;
            font-size: small;
        }
}

/*.logobox {
    width: 30%;
    content: url(/Content/Pronto-Logo-Black.png);
}*/
